// Header
$header-bg: rgba(69, 90, 100, 1);
$header-text: white;

$mission-statement-bg: #ababab;

// Components
// Button
$button-base-bg: #2ecc71;
$button-base-text: white;

// Notification
$notification-color: green;
$notification-fail-color: red;
$notification-text: white;
