@import "colors";
.footer {
	height: 4rem;
	width: 100%;

	background-color: $footer-bg;
	color: $footer-text;

	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 30px;
	padding: 0.5rem 1rem;
	box-sizing: border-box;

	.spacer {
		flex: 300;
	}
}
