@import "colors";

#header {
	z-index: 5;
	display: flex;
	flex-direction: row;
	height: 4rem;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	padding-right: 2rem;
	background-color: $header-bg;
	color: $header-text;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.spacer {
		flex: 300;
	}

	.header-left {
		display: flex;
		flex-direction: row;
		align-items: center;
		.title {
			font-size: 1.5rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			color: inherit;
			text-decoration: none;
			a {
				color: inherit;
				text-decoration: none;
				display: block;
				height: 100%;
			}
			img {
				height: 1.5rem;
				width: auto;
			}
		}
		.title-logo {
			height: 3rem;
			img {
				height: 100%;
			}
			margin-left: 10px;
		}
	}

	ul {
		height: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		li {
			display: block;
			margin: 0.25rem;

			a {
				text-decoration: none;
				color: inherit;

				padding: 0.5rem;

				&:hover {
					background-color: rgba(black, 0.2);
				}
			}
		}
	}
}

.nav-spacer {
	height: 4rem;
	width: 100%;
}
