@import "colors";

#header {
	z-index: 5;
	display: flex;
	flex-direction: row;
	height: 4rem;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	padding-right: 2rem;
	background-color: $header-bg;
	color: $header-text;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 4px 2px -2px rgba(black, 0.4);

	.spacer {
		flex: 300;
	}

	.header-left {
		display: flex;
		flex-direction: row;
		align-items: center;
		.title {
			font-size: 1.5rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			color: inherit;
			text-decoration: none;
			a {
				color: inherit;
				text-decoration: none;
				display: block;
				height: 100%;
			}
			img {
				height: 1.5rem;
				width: auto;
			}
		}
		.title-logo {
			height: 3rem;
			img {
				height: 100%;
			}
			margin-left: 10px;
		}
	}

	ul {
		height: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		li {
			display: block;
			margin: 0.25rem;

			a {
				text-decoration: none;
				color: inherit;

				padding: 0.5rem;
				border-radius: 10px;

				&:hover {
					background-color: rgba(black, 0.4);
				}
			}
		}
	}
}

.nav-spacer {
	height: 4rem;
	width: 100%;
}

.mobile-nav {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 250px;
	align-items: center;
	padding: 4rem;
	padding-top: 1rem;
	box-sizing: border-box;
	background: white;
	z-index: 15;
	a {
		display: block;
		padding: 20px;
		width: 100%;
		box-sizing: border-box;
		&:hover {
			background: rgba(black, 0.3);
		}
		text-decoration: none;
		color: black;
	}

	.close {
		height: 2rem;
		text-align: right;

		i {
			color: black;
		}
		button {
			border-radius: 50%;
			&:hover {
				background: rgba(black, 0.3);
			}
		}
	}
	button {
		background: transparent;
		border: none;
		cursor: pointer;
		height: 100%;
	}
}

#sidebar {
	display: none;
	&.sidebar-shown {
		display: block;
	}
}

#show-sidebar {
	display: none;
	button {
		background: transparent;
		border: none;
		cursor: pointer;
		height: 100%;
	}
}
.main.sidebar-shown {
	margin-right: 250px;
	width: calc(100vw - 250px);

	#header {
		right: 250px;
	}
}

@media screen and (max-width: 1000px) {
	#header-nav {
		display: none;
	}
	#show-sidebar {
		display: block;
	}
}
