.title-section {
	$height: 40vh;
	height: $height;
	background: url("/img/Background.png") repeat;
	margin-bottom: calc(12rem - #{$height});
	padding: 6rem;
	box-sizing: border-box;

	h1 {
		margin: 0;
		padding: 0;
		font-size: 4rem;
		color: white;
	}
}

.page {
	background: white;
	width: 80vw;
	margin: auto;
	padding: 3rem;
	box-sizing: border-box;
	border-radius: 50px;
	margin-bottom: 30px;
}
