.process-page {
	.steps-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.step {
		display: flex;
		flex-direction: row;
		width: 80%;
		justify-content: space-around;
		p {
			flex: 5;
		}
		img {
			flex: 0;
			margin: 10px;
		}
	}
}
