<div class="merch-product">
	<div class="merch-product-image">
		<img src="{{imageURL}}" />
	</div>
	<div class="merch-product-text">
		<h2>{{ name }}</h2>
		<p class="merch-product-price">${{ price }}</p>
		<a href="{{product-link id}}">View Item</a>
	</div>
</div>