<div id="header" {{#if fade}} :style="styleObject" {{/if}}>
    <div class="header-left">
        <div class="title">Pyxis</div>
    </div>
    <div class="spacer"></div>
    <div id="header-nav">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/process">Process</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/merch">Merch</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </div>
</div>

{{#unless fade}}
    <div class="nav-spacer"></div>
{{/unless}}

