.plans-list {
	padding: 0;
	margin: 0 20px;
	list-style-type: none;
	// flex-direction: row;
	// flex-wrap: none;
	// flex: 0;
	height: auto;
	// display: flex;
	// flex-direction: row;

	li {
		flex: 0;
		margin: 0 50px;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		display: none;

		.plan-image {
			display: block;
			margin: 10px;
			flex: 0;
		}

		.plan-description {
			margin: 10px;
		}

		&.active {
			display: flex;
		}
	}
}

.plans-gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}

.plans-wrapper {
	width: 640px;
	position: relative;
	max-width: 80vw;
}

.gallery-button {
	height: 80%;
	min-height: 100px;
	cursor: pointer;
	width: 20px;
	background: red;
	position: absolute;
	top: 10%;
	bottom: 10%;
	&.button-left {
		left: 0px;
	}
	&.button-right {
		right: 0px;
	}
}
