{{> title-section title="About Us" }}
<div class="about-page page">
	<h2>Your Johns Creek Web Design Team</h2>
	<h3>Displacing the market since 2017</h3>
	<p class="about-text">
		In the ever-expanding digital age, websites have become the most accessible connection between a company and its
		consumers. Websites have become more than just a page of information, they have evolved to become the face of
		their company standing as a monument to the consumer as a representation of their values. With new advancements
		in technology constantly shifting the seas of the market, an unprepared company can easily be sunken. However,
		we at Pyxis are no stranger to these seas. It is our duty and mission to constantly evolve, utilizing years of
		experience in combination with new tools, to enable companies of any size to generate a tremendous impact that
		displaces the market in their favor.
	</p>

	<h2>Success Stories</h2>

	<div class="testimonials-grid">
		<div class="testimonial" id="garuba-testimonial">
			<div class="testimonial-text">
				<h2><a href="http://garuba.herokuapp.com">Garuba</a></h2>
				<p>1st place at FBLA nationals 2018</p>
			</div>
		</div>
		<div class="testimonial" id="accuracy-testimonial">
			<div class="testimonial-text">
				<h2><a href="http://accuracycpa.herokuapp.com">Accuracy</a></h2>
				<p>Increased client exposure</p>
			</div>
		</div>
		<div class="testimonial" id="form-testimonial">
			<div class="testimonial-text">
				<h2><a href="http://formphysicaltherapy.com">Form</a></h2>
				<p>Increased sales by 300%</p>
			</div>
		</div>
		<div class="testimonial" id="northview-testimonial">
			<div class="testimonial-text">
				<h2><a href="http://northviewhigh.com">Northview</a></h2>
				<p>Increased parent satisfaction</p>
			</div>
		</div>
	</div>
</div>