{{> nav fade=true }}
<div id="hero" :style="styleObject" class="fade-target">
	{{!-- <h1 style="letter-spacing: 50px">Pyxis</h1> --}}
	<div class="header-main">
		<h1>
			Pyxis
		</h1>
	</div>
	<div class="header-subtext">
		<h2>
			Web Design
		</h2>
	</div>
</div>
<div class="content">
	<div class="mission-statement">
		<h1>Beautiful, Functional Digital Transformation</h1>

		<p>
			Your website is equivalent to your first impression. We at Pyxis have been creating and transforming websites for a
			long time, so you know that your website will be a world-class destination - having customers gaze in awe.
		</p>
	</div>
	<h1 class="design-process-heading">Unlimited Possibilities</h1>
	<div class="design-process">
		<div class="design-process-item">
			<img src="/img/process/ResearchGraphic.png" />
			<h5>Research</h5>
			<p>
				We understand what it means to run a business. That's why each
				of projects begins with research to identify and satisfy your
				business needs.
			</p>
		</div>
		<div class="design-process-item">
			<img src="/img/process/UXDesign.png" />
			<h5>UX Design</h5>
			<p>
				Keeping the user in mind we innovate, test, and refine to
				develop an experience tailored to an incredible user experience.
			</p>
		</div>
		<div class="design-process-item">
			<img src="/img/process/WebDesignGraphic.png" />
			<h5>Web Design</h5>
			<p>
				Pyxis employs experience, creativity, and award winning
				strategies to develop the perfect website.
			</p>
		</div>
		<div class="design-process-item">
			<img src="img/process/Marketing.png" />
			<h5>Marketing</h5>
			<p>
				We know the a website is only part of the battle. Pyxis continues to fight by your side, engaging and creating new
				user experiences, to achieve new heights.
			</p>
		</div>
	</div>
	<div class="plans-gallery" id="plans">
		<div class="plans-wrapper">
			<div class="gallery-button button-left" @click="prevElement()"></div>
			<ol class="plans-list">
				<li v-for="(plan, index) in plans" :class="{ 'active': index === activeIndex }">
					<img :src="plan.imgUrl" class="plan-image" />
					<div class="plan-description" v-html="plan.description"></div>
				</li>
			</ol>
			<div class="gallery-button button-right" @click="nextElement()"></div>
		</div>
	</div>
</div>