<div class="pricing-page">
	<div class="plan">
		<p>
			This is the description for the 180 plan
		</p>
		<img src="img/cat.jpg">
	</div>
	<div class="plan">
		<img src="img/cat.jpg" alt="">
		<p>
			This is the description for the 360 plan
		</p>
	</div>
	<div class="plan">
		<p>
			This is the description for the 540 plan
		</p>
		<img src="img/cat.jpg">
	</div>
	<div class="plan">
		<img src="img/cat.jpg" alt="">
		<p>
			This is the description for the 360 plan
		</p>
	</div>
</div>
