{{> nav}}
<div class="process-page">
	<div class="step">
		<p>This is the description for the 180 step</p>
		<img src="img/cat.jpg" />
	</div>
	<div class="step">
		<img src="img/cat.jpg" alt="" />
		<p>This is the description for the 360 step</p>
	</div>
	<div class="step">
		<p>This is the description for the 540 step</p>
		<img src="img/cat.jpg" />
	</div>
	<div class="step">
		<img src="img/cat.jpg" alt="" />
		<p>This is the description for the 360 step</p>
	</div>
</div>
