{{> title-section}}
<div class="process-page page">
	<div class="steps-list">
		<div class="step">
			<img src="img/cat.jpg" />
			<p>This is the description for the 180 step</p>
		</div>
		<div class="step">
			<p>This is the description for the 360 step</p>
			<img src="img/cat.jpg" alt="" />
		</div>
		<div class="step">
			<img src="img/cat.jpg" />
			<p>This is the description for the 540 step</p>
		</div>
		<div class="step">
			<p>This is the description for the 360 step</p>
			<img src="img/cat.jpg" alt="" />
		</div>
	</div>
</div>