{{> title-section}}
<div class="process-page page">
	<div class="steps-list">
		<div class="step">
			<h2>Research</h2>
			<p>
				The best foundation is one that can adapt. By monitoring and
				interpreting changes in the current market, consumer interests,
				and business needs, Pyxis is able to construct a blueprint for
				success.
			</p>
			<div class="box-row" v-enter-animation="'animated fadeInLeft'">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>
		</div>
		<div class="step">
			<h2>UX Design</h2>
			<p>
				A fresh, modern, and functional user experience is a key
				component in any successful website. Pyxis tailors the structure
				and interface of your website to create an unforgettable user
				experience.
			</p>
			<div class="box-row" v-enter-animation="'animated fadeInRight'">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>
		</div>
		<div class="step">
			<h2>Web Design</h2>
			<p>
				At Pyxis we offer more than just a website. We offer creative
				strategies, business awareness, and experience to create a
				website that can solve any problem and deliver results.
			</p>
			<div class="box-row" v-enter-animation="'animated fadeInLeft'">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>
		</div>
		<div class="step">
			<h2>Marketing</h2>
			<p>
				Pyxis continues monitor and improve your site even after it is
				complete. Working to maximize your return on investment by
				increasing traffic.
			</p>
			<div class="box-row" v-enter-animation="'animated fadeInRight'">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>
		</div>
	</div>
</div>