.about-page {
  padding: 0 10%; }
  .about-page .testimonials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 40vh; }
    .about-page .testimonials-grid .testimonial {
      border: 2px solid black;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.content {
  background: white;
  min-height: 100vh; }

.mission-statement {
  text-align: center;
  padding: 2rem 2rem;
  background-color: #ababab; }
  .mission-statement h1 {
    font-size: 36px;
    text-decoration: none;
    font-weight: 500;
    margin: 20px 0;
    padding: 0; }
  .mission-statement p {
    width: 60%;
    margin: auto;
    text-align: left; }

.design-process {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 20px; }

.design-process-heading {
  text-align: center;
  margin-bottom: 10px;
  padding: 0; }

.design-process-item {
  padding: 10px;
  border-right: 2px solid black; }
  .design-process-item img {
    display: block;
    margin: auto; }
  .design-process-item h5 {
    text-align: center; }
  .design-process-item:first-child {
    border-left: 2px solid black; }

html,
body {
  margin: 0;
  padding: 0; }

#header {
  z-index: 5;
  display: flex;
  flex-direction: row;
  height: 4rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  background-color: #455a64;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  #header .nav-logo {
    max-height: 2rem;
    margin: 0 0.5rem; }
  #header .spacer {
    flex: 300; }
  #header .header-left {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #header .header-left .title {
      font-size: 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center; }
  #header ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center; }
    #header ul li {
      display: block;
      margin: 0.25rem; }
      #header ul li a {
        text-decoration: none;
        color: inherit;
        padding: 0.5rem; }
        #header ul li a:hover {
          background-color: rgba(0, 0, 0, 0.2); }

.nav-spacer {
  height: 4rem;
  width: 100%; }

#hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #fff;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("/img/PolarisHeroImage.jpg"); }

.process-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .process-page .step {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around; }
    .process-page .step p {
      flex: 5; }
    .process-page .step img {
      flex: 0;
      margin: 10px; }

.plans-list {
  padding: 0;
  list-style-type: none;
  height: auto; }
  .plans-list li {
    flex: 0;
    margin: 0 50px;
    display: none; }
    .plans-list li.active {
      display: block; }

.plans-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto; }

.plans-wrapper {
  width: 300px;
  position: relative; }

.gallery-button {
  height: auto;
  min-height: 100px;
  cursor: pointer;
  width: 20px;
  background: red; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFib3V0LnNjc3MiLCJjb250ZW50LnNjc3MiLCJnbG9iYWxzLnNjc3MiLCJoZWFkZXIuc2NzcyIsImhlcm8uc2NzcyIsInByb2Nlc3Muc2NzcyIsImhvbWVwYWdlL3BsYW5zLWNhcm91c2VsLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSxlQUFjLEVBa0JqQjtFQW5CRDtJQUdRLGNBQWE7SUFDYiwrQkFBOEI7SUFDOUIsNEJBQTJCO0lBQzNCLGVBQWM7SUFDZCxhQUFZLEVBV2Y7SUFsQkw7TUFVWSx3QkFBdUI7TUFDdkIsaUJBQWdCO01BQ2hCLGNBQWE7TUFDYix1QkFBc0I7TUFDdEIsd0JBQXVCO01BQ3ZCLG9CQUFtQixFQUV0Qjs7QUNqQlQ7RUFDQyxrQkFBaUI7RUFDakIsa0JBQWlCLEVBQ2pCOztBQUVEO0VBQ0MsbUJBQWtCO0VBQ2xCLG1CQUFrQjtFQUVsQiwwQkFBeUIsRUFlekI7RUFuQkQ7SUFPRSxnQkFBZTtJQUNmLHNCQUFxQjtJQUNyQixpQkFBZ0I7SUFDaEIsZUFBYztJQUNkLFdBQVUsRUFDVjtFQVpGO0lBZUUsV0FBVTtJQUNWLGFBQVk7SUFDWixpQkFBZ0IsRUFDaEI7O0FBR0Y7RUFDQyxjQUFhO0VBQ2Isb0JBQW1CO0VBQ2hCLGFBQVk7RUFDWixpQkFBZ0IsRUFDbkI7O0FBRUQ7RUFDQyxtQkFBa0I7RUFDZixvQkFBbUI7RUFDbkIsV0FBVSxFQUNiOztBQUVEO0VBQ0MsY0FBYTtFQVViLDhCQUE2QixFQUs3QjtFQWhCRDtJQUdFLGVBQWM7SUFDZCxhQUFZLEVBQ1o7RUFMRjtJQVFFLG1CQUFrQixFQUNsQjtFQVRGO0lBY0UsNkJBQTRCLEVBQzVCOztBQ3RERjs7RUFFQyxVQUFTO0VBQ1QsV0FBVSxFQUNWOztBQ0pEO0VBQ0MsV0FBVTtFQUNWLGNBQWE7RUFDYixvQkFBbUI7RUFDbkIsYUFBWTtFQUNaLHVCQUFzQjtFQUN0QixxQkFBb0I7RUFDcEIsb0JBQW1CO0VBQ25CLDBCQUFzQztFQUN0QyxhQUFZO0VBQ1osZ0JBQWU7RUFDZixPQUFNO0VBQ04sUUFBTztFQUNQLFNBQVEsRUFnRFI7RUE3REQ7SUFnQkUsaUJBQWdCO0lBQ2hCLGlCQUFnQixFQUNoQjtFQWxCRjtJQXFCRSxVQUFTLEVBQ1Q7RUF0QkY7SUF5QkUsY0FBYTtJQUNiLG9CQUFtQjtJQUNuQixvQkFBbUIsRUFPbkI7SUFsQ0Y7TUE2Qkcsa0JBQWlCO01BQ2pCLGNBQWE7TUFDYixvQkFBbUI7TUFDbkIsb0JBQW1CLEVBQ25CO0VBakNIO0lBcUNFLGFBQVk7SUFDWixzQkFBcUI7SUFDckIsV0FBVTtJQUNWLFVBQVM7SUFDVCxjQUFhO0lBQ2Isb0JBQW1CO0lBQ25CLG9CQUFtQixFQWlCbkI7SUE1REY7TUE4Q0csZUFBYztNQUNkLGdCQUFlLEVBWWY7TUEzREg7UUFrREksc0JBQXFCO1FBQ3JCLGVBQWM7UUFFZCxnQkFBZSxFQUtmO1FBMURKO1VBd0RLLHFDQUE0QixFQUM1Qjs7QUFPTDtFQUNJLGFBQVk7RUFDWixZQUFXLEVBQ2Q7O0FDbkVEO0VBQ0MsbUJBQWtCO0VBQ2xCLGNBQWE7RUFDYixjQUFhO0VBQ2Isb0JBQW1CO0VBQ25CLHdCQUF1QjtFQUN2QixnQkFBZTtFQUNmLFlBQVc7RUFDWCxZQUFXO0VBWVgsdUJBQXNCO0VBQ3RCLG1DQUFrQztFQUdsQyxtREFBa0QsRUFDbEQ7O0FDekJEO0VBQ0ksY0FBYTtFQUNiLHVCQUFzQjtFQUN0QixvQkFBbUI7RUFDbkIsd0JBQXVCLEVBYzFCO0VBbEJEO0lBTUUsY0FBYTtJQUNiLG9CQUFtQjtJQUNuQixXQUFVO0lBQ0osOEJBQTZCLEVBUW5DO0lBakJGO01BV0csUUFBTyxFQUNQO0lBWkg7TUFjRyxRQUFPO01BQ1AsYUFBWSxFQUNaOztBQ2hCSDtFQUNDLFdBQVU7RUFDVixzQkFBcUI7RUFJckIsYUFBWSxFQTBCWjtFQWhDRDtJQVdFLFFBQU87SUFDUCxlQUFjO0lBQ2Qsb0JBQW1CO0lBQ25CLDhCQUE2QjtJQUM3QixvQkFBbUI7SUFDbkIsY0FBYSxFQWViO0lBL0JGO01BbUJHLGVBQWM7TUFDZCxhQUFZO01BQ1osUUFBTyxFQUNQO0lBdEJIO01BeUJHLGFBQVksRUFDWjtJQTFCSDtNQTZCRyxjQUFhLEVBQ2I7O0FBSUg7RUFDQyxjQUFhO0VBQ2Isb0JBQW1CO0VBQ25CLHdCQUF1QjtFQUN2QixZQUFXO0VBQ1gsYUFBWSxFQUNaOztBQUVEO0VBQ0MsYUFBWTtFQUNaLG1CQUFrQixFQUNsQjs7QUFFRDtFQUNDLGFBQVk7RUFDWixrQkFBaUI7RUFDakIsZ0JBQWU7RUFDZixZQUFXO0VBQ1gsZ0JBQWUsRUFDZiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmFib3V0LXBhZ2Uge1xyXG4gICAgcGFkZGluZzogMCAxMCU7XHJcbiAgICAudGVzdGltb25pYWxzLWdyaWQge1xyXG4gICAgICAgIGRpc3BsYXk6IGdyaWQ7XHJcbiAgICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnIgMWZyO1xyXG4gICAgICAgIGdyaWQtdGVtcGxhdGUtcm93czogMWZyIDFmcjtcclxuICAgICAgICBncmlkLWdhcDogMjBweDtcclxuICAgICAgICBoZWlnaHQ6IDQwdmg7XHJcblxyXG4gICAgICAgIC50ZXN0aW1vbmlhbCB7XHJcbiAgICAgICAgICAgIGJvcmRlcjogMnB4IHNvbGlkIGJsYWNrO1xyXG4gICAgICAgICAgICBtaW4taGVpZ2h0OiA1MHB4O1xyXG4gICAgICAgICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgICAgICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuXHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG59XHJcbiIsIi5jb250ZW50IHtcclxuXHRiYWNrZ3JvdW5kOiB3aGl0ZTtcclxuXHRtaW4taGVpZ2h0OiAxMDB2aDtcclxufVxyXG5cclxuLm1pc3Npb24tc3RhdGVtZW50IHtcclxuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblx0cGFkZGluZzogMnJlbSAycmVtO1xyXG5cclxuXHRiYWNrZ3JvdW5kLWNvbG9yOiAjYWJhYmFiO1xyXG5cclxuXHRoMSB7XHJcblx0XHRmb250LXNpemU6IDM2cHg7XHJcblx0XHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcblx0XHRmb250LXdlaWdodDogNTAwO1xyXG5cdFx0bWFyZ2luOiAyMHB4IDA7XHJcblx0XHRwYWRkaW5nOiAwO1xyXG5cdH1cclxuXHJcblx0cCB7XHJcblx0XHR3aWR0aDogNjAlO1xyXG5cdFx0bWFyZ2luOiBhdXRvO1xyXG5cdFx0dGV4dC1hbGlnbjogbGVmdDtcclxuXHR9XHJcbn1cclxuXHJcbi5kZXNpZ24tcHJvY2VzcyB7XHJcblx0ZGlzcGxheTogZmxleDtcclxuXHRmbGV4LWRpcmVjdGlvbjogcm93O1xyXG4gICAgbWFyZ2luOiA1MHB4O1xyXG4gICAgbWFyZ2luLXRvcDogMjBweDtcclxufVxyXG5cclxuLmRlc2lnbi1wcm9jZXNzLWhlYWRpbmcge1xyXG5cdHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIG1hcmdpbi1ib3R0b206IDEwcHg7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG59XHJcblxyXG4uZGVzaWduLXByb2Nlc3MtaXRlbSB7XHJcblx0cGFkZGluZzogMTBweDtcclxuXHRpbWcge1xyXG5cdFx0ZGlzcGxheTogYmxvY2s7XHJcblx0XHRtYXJnaW46IGF1dG87XHJcblx0fVxyXG5cclxuXHRoNSB7XHJcblx0XHR0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblx0fVxyXG5cclxuXHRib3JkZXItcmlnaHQ6IDJweCBzb2xpZCBibGFjaztcclxuXHJcblx0JjpmaXJzdC1jaGlsZCB7XHJcblx0XHRib3JkZXItbGVmdDogMnB4IHNvbGlkIGJsYWNrO1xyXG5cdH1cclxufVxyXG4iLCJodG1sLFxyXG5ib2R5IHtcclxuXHRtYXJnaW46IDA7XHJcblx0cGFkZGluZzogMDtcclxufVxyXG4iLCIjaGVhZGVyIHtcclxuXHR6LWluZGV4OiA1O1xyXG5cdGRpc3BsYXk6IGZsZXg7XHJcblx0ZmxleC1kaXJlY3Rpb246IHJvdztcclxuXHRoZWlnaHQ6IDRyZW07XHJcblx0Ym94LXNpemluZzogYm9yZGVyLWJveDtcclxuXHRwYWRkaW5nOiAwLjVyZW0gMXJlbTtcclxuXHRwYWRkaW5nLXJpZ2h0OiAycmVtO1xyXG5cdGJhY2tncm91bmQtY29sb3I6IHJnYmEoNjksIDkwLCAxMDAsIDEpO1xyXG5cdGNvbG9yOiB3aGl0ZTtcclxuXHRwb3NpdGlvbjogZml4ZWQ7XHJcblx0dG9wOiAwO1xyXG5cdGxlZnQ6IDA7XHJcblx0cmlnaHQ6IDA7XHJcblxyXG5cdC5uYXYtbG9nbyB7XHJcblx0XHRtYXgtaGVpZ2h0OiAycmVtO1xyXG5cdFx0bWFyZ2luOiAwIDAuNXJlbTtcclxuXHR9XHJcblxyXG5cdC5zcGFjZXIge1xyXG5cdFx0ZmxleDogMzAwO1xyXG5cdH1cclxuXHJcblx0LmhlYWRlci1sZWZ0IHtcclxuXHRcdGRpc3BsYXk6IGZsZXg7XHJcblx0XHRmbGV4LWRpcmVjdGlvbjogcm93O1xyXG5cdFx0YWxpZ24taXRlbXM6IGNlbnRlcjtcclxuXHRcdC50aXRsZSB7XHJcblx0XHRcdGZvbnQtc2l6ZTogMS41cmVtO1xyXG5cdFx0XHRkaXNwbGF5OiBmbGV4O1xyXG5cdFx0XHRmbGV4LWRpcmVjdGlvbjogcm93O1xyXG5cdFx0XHRhbGlnbi1pdGVtczogY2VudGVyO1xyXG5cdFx0fVxyXG5cdH1cclxuXHJcblx0dWwge1xyXG5cdFx0aGVpZ2h0OiAxMDAlO1xyXG5cdFx0bGlzdC1zdHlsZS10eXBlOiBub25lO1xyXG5cdFx0cGFkZGluZzogMDtcclxuXHRcdG1hcmdpbjogMDtcclxuXHRcdGRpc3BsYXk6IGZsZXg7XHJcblx0XHRmbGV4LWRpcmVjdGlvbjogcm93O1xyXG5cdFx0YWxpZ24taXRlbXM6IGNlbnRlcjtcclxuXHJcblx0XHRsaSB7XHJcblx0XHRcdGRpc3BsYXk6IGJsb2NrO1xyXG5cdFx0XHRtYXJnaW46IDAuMjVyZW07XHJcblxyXG5cdFx0XHRhIHtcclxuXHRcdFx0XHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcblx0XHRcdFx0Y29sb3I6IGluaGVyaXQ7XHJcblxyXG5cdFx0XHRcdHBhZGRpbmc6IDAuNXJlbTtcclxuXHJcblx0XHRcdFx0Jjpob3ZlciB7XHJcblx0XHRcdFx0XHRiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKGJsYWNrLCAwLjIpO1xyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdH1cclxufVxyXG5cclxuXHJcbi5uYXYtc3BhY2VyIHtcclxuICAgIGhlaWdodDogNHJlbTtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG59XHJcbiIsIiNoZXJvIHtcclxuXHRwb3NpdGlvbjogcmVsYXRpdmU7XHJcblx0aGVpZ2h0OiAxMDB2aDtcclxuXHRkaXNwbGF5OiBmbGV4O1xyXG5cdGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcblx0anVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcblx0Zm9udC1zaXplOiA0OHB4O1xyXG5cdGNvbG9yOiAjZmZmO1xyXG5cdHdpZHRoOiAxMDAlO1xyXG5cdC8vIH1cclxuXHJcblx0Ly8gLmhlcm86OmFmdGVyIHtcclxuXHQvLyBjb250ZW50OiBcIiBcIjtcclxuXHQvLyBwb3NpdGlvbjogYWJzb2x1dGU7XHJcblx0Ly8gdG9wOiAwO1xyXG5cdC8vIHJpZ2h0OiAwO1xyXG5cdC8vIGJvdHRvbTogMDtcclxuXHQvLyBsZWZ0OiAwO1xyXG5cdC8vIHdpZHRoOiAxMDAlO1xyXG5cdC8vIG1hcmdpbjogMDtcclxuXHRiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xyXG5cdGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciBjZW50ZXI7XHJcblxyXG5cdC8vIGJhY2tncm91bmQtaW1hZ2U6IHVybChcImh0dHA6Ly9zb3VyY2UudW5zcGxhc2guY29tL3BqeHpwb1lvNUdzXCIpO1xyXG5cdGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi9pbWcvUG9sYXJpc0hlcm9JbWFnZS5qcGdcIik7XHJcbn1cclxuIiwiLnByb2Nlc3MtcGFnZSB7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuXHQuc3RlcCB7XHJcblx0XHRkaXNwbGF5OiBmbGV4O1xyXG5cdFx0ZmxleC1kaXJlY3Rpb246IHJvdztcclxuXHRcdHdpZHRoOiA4MCU7XHJcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XHJcblx0XHRwIHtcclxuXHRcdFx0ZmxleDogNTtcclxuXHRcdH1cclxuXHRcdGltZyB7XHJcblx0XHRcdGZsZXg6IDA7XHJcblx0XHRcdG1hcmdpbjogMTBweDtcclxuXHRcdH1cclxuXHR9XHJcbn1cclxuIiwiLnBsYW5zLWxpc3Qge1xyXG5cdHBhZGRpbmc6IDA7XHJcblx0bGlzdC1zdHlsZS10eXBlOiBub25lO1xyXG5cdC8vIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcblx0Ly8gZmxleC13cmFwOiBub25lO1xyXG5cdC8vIGZsZXg6IDA7XHJcblx0aGVpZ2h0OiBhdXRvO1xyXG5cdC8vIGRpc3BsYXk6IGZsZXg7XHJcblx0Ly8gZmxleC1kaXJlY3Rpb246IHJvdztcclxuXHJcblx0bGkge1xyXG5cdFx0ZmxleDogMDtcclxuXHRcdG1hcmdpbjogMCA1MHB4O1xyXG5cdFx0ZmxleC1kaXJlY3Rpb246IHJvdztcclxuXHRcdGp1c3RpZnktY29udGVudDogc3BhY2UtZXZlbmx5O1xyXG5cdFx0YWxpZ24taXRlbXM6IGNlbnRlcjtcclxuXHRcdGRpc3BsYXk6IG5vbmU7XHJcblxyXG5cdFx0LnBsYW4taW1hZ2Uge1xyXG5cdFx0XHRkaXNwbGF5OiBibG9jaztcclxuXHRcdFx0bWFyZ2luOiAxMHB4O1xyXG5cdFx0XHRmbGV4OiAwO1xyXG5cdFx0fVxyXG5cclxuXHRcdC5wbGFuLWRlc2NyaXB0aW9uIHtcclxuXHRcdFx0bWFyZ2luOiAxMHB4O1xyXG5cdFx0fVxyXG5cclxuXHRcdCYuYWN0aXZlIHtcclxuXHRcdFx0ZGlzcGxheTogZmxleDtcclxuXHRcdH1cclxuXHR9XHJcbn1cclxuXHJcbi5wbGFucy1nYWxsZXJ5IHtcclxuXHRkaXNwbGF5OiBmbGV4O1xyXG5cdGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcblx0anVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcblx0d2lkdGg6IDEwMCU7XHJcblx0aGVpZ2h0OiBhdXRvO1xyXG59XHJcblxyXG4ucGxhbnMtd3JhcHBlciB7XHJcblx0d2lkdGg6IDMwMHB4O1xyXG5cdHBvc2l0aW9uOiByZWxhdGl2ZTtcclxufVxyXG5cclxuLmdhbGxlcnktYnV0dG9uIHtcclxuXHRoZWlnaHQ6IGF1dG87XHJcblx0bWluLWhlaWdodDogMTAwcHg7XHJcblx0Y3Vyc29yOiBwb2ludGVyO1xyXG5cdHdpZHRoOiAyMHB4O1xyXG5cdGJhY2tncm91bmQ6IHJlZDtcclxufVxyXG4iXX0= */
